{% extends "base.html" %}
{% block title %} Додати учасника до чату {% endblock %}

{% block content %}
    <h1>Додати учасника до чату</h1>
    <p>Чат: {{ chat.id }}</p>
    <form method="post" action="{% url 'add-participant-to-chat' %}">
        {% csrf_token %}
        <div class="mb-3">
            <input type="hidden" name="chat_id" value="{{ chat.id }}">
            <label for="participant_id" class="form-label">Користувач</label>
            <select class="form-select" id="participant_id" name="participant_id" required>
                {% for user in users %}
                <option value="{{ user.id }}">{{ user.user.username }}</option>
                {% empty %}
                <option disabled>Немає доступних користувачів</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary"{% if not users %} disabled{% endif %}>Додати учасника</button>
    </form>
{% endblock %}