{% extends "base.html" %}
{% block title %} Список постів {% endblock %}

{% block content %}
    <h1 class="display-title">Список постів</h1>
    <form method="get" action="{% url 'post_list' %}" class="search-form">
        <input class="w-full max-w-md px-4 py-2 text-gray-700 
        bg-white border border-gray-300 rounded-lg 
        shadow-sm focus:outline-none focus:ring-2 
        focus:ring-blue-500 
        focus:border-transparent transition-all" type="text" name="q" placeholder="Пошук постів..." value="{{ search_query }}">
        <button class="button-primary" type="submit">Пошук</button>
    </form>
        {% for post in posts %}
            <li class="list-item chat-list-item">
                <div class="post-meta flex items-center space-x-2">
                    <img src="{{ post.author.profile.avatar.url }}" alt="Аватар {{ post.author.username }}" class="h-10 w-10 rounded-full object-cover ring-2 ring-teal-100 dark:ring-teal-900">
                    <span class="post-author">{{ post.author.username }}</span>
                    <a class="text-blue-500 hover:text-blue-700 " href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
                    <p class="form-control">{{ post.content|truncatewords:20 }}</p>
                </div>
            </li>
        {% empty %}
            <li class="list-item">
                {% if search_query %}
                    За запитом «{{ search_query }}» постів не знайдено.
                {% else %}
                    Немає постів для відображення.
                {% endif %}
            </li>
        {% endfor %}

{% endblock %}